

.post-container-update{
    display: flex;
    flex-direction: column;
    .update-post-buttons{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 25px;
        i{
            margin-right: 20px;
            color: gray;
        }
        input[type=submit] {
            background-color: #3b5998;
            color: white;
            border: none;
            border-radius: 5px;
            height: 20px;
            margin-right: 10px;
        }
        input[type=file]{
            width: 20px;
            left: 1010px;
            position: absolute;
            height: 20px;
            top: 720px;
            opacity: 0;
        }
    }
}


.container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container-left-profile {
    width: 40%;
    // background-color: crimson;
    height: 100px;
}
.container-left-user {
    // background-color: yellow;
    // width: 40%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
    .img-profile {
        margin: 0px 20px 0px 20px;
        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
        input{
            width: 50px;
            left: 30px;
            position: absolute;
            height: 500px;
            top: 100px;
            opacity: 0;
        }
    }
    .user-profile {
        width: 100%;
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        .user-name {
            font-size: 15px;
            font-weight: bold;
            i {
                margin-left: 5px;
                font-size: 14px;
                color: gray;
            }
        }
        .bio-profile {
            font-size: 12px;
            input {
                width: 100%;
                border: none;
                background-color: transparent;
            }
        }
        .update-profile-submit {
            input {
                height: 18px;
                border-radius: 5px;
                border: none;
                background-color: #3b5998;
                color: white;
            }
        }
    }
}

.post-container-update {
    display: flex;
    flex-direction: column;
    .update-post-buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 25px;
        i {
            margin-right: 20px;
            color: gray;
        }
        input[type="submit"] {
            background-color: #3b5998;
            color: white;
            border: none;
            border-radius: 5px;
            height: 20px;
            margin-right: 10px;
        }
        input[type="file"] {
            width: 20px;
            left: 1010px;
            position: absolute;
            height: 20px;
            top: 700px;
            opacity: 0;
        }
    }
}
