

#search-dropdown{
    display: flex;
    flex-direction: row;
    align-items: center;
#link-user{
    
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        margin-left: 10px;
        text-decoration: none;
        color: black;
        padding: 10px 0px 10px 0px;
        font-size: 15px;
    
    img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-right: 20px;
    }
}
}



.comment-wall {
    border-radius: 5px;
    padding: 10px 0px 15px 0px;
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

    .container-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .textarea-wall {
            margin-left: 10px;
            margin-right: 10px;
            width: 560px;

            textarea {
                resize: none;
                margin-bottom: 5px;
                border: 1px solid gray;
                border-radius: 5px;
                width: 99.5%;
                height: 50px;
            }
        }
        .img-wall{
            input{
                width: 10px;
                left: 15px;
                position: relative;
                height: 10px;
                top: 5px;
                opacity: 0;
            }
            i{  background-color: white;
                font-size:14px;
                color: grey;
            }
        }
        }
        .submit-wall {
            display: flex;
            justify-content: flex-end;
            margin-right: 10px;

            input[type=submit] {
                background-color: #3b5998;
                color: white;
                border: none;
                border-radius: 5px;
                height: 25px;
            }
    }

}


.body-main {
    background-color: rgb(233, 232, 232);
}

.container-home-left {
    width: 40%;
    // background-color: crimson;
    height: 100px;


    .container-left {
        // background-color: yellow;
        position: absolute;
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 100%;



        input {
            background-image: url('https://www.freepnglogos.com/uploads/search-png/search-icon-transparent-images-vector-16.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 80%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            background-size: 20px;
            // margin-bottom: 12px;

        }


        .table-friend {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 14px;

            th,
            td {
                text-align: left;
                padding: 10px;
            }

            tr {
                border-bottom: 1px solid #ddd;
            }

            tr.header-table,
            tr:hover {
                background-color: #f1f1f1;
            }
        }
    }
}

.container-home {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container-right-profile {
    margin: 150px auto;
}

.container-right {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.container-right,
.container-right-profile {
    width: 70%;

    .container-post {
        margin-bottom: 20px;
        border-radius: 5px;
        padding: 10px 0px 15px 0px;
        width: 60%;
        background-color: white;
        display: flex;
        flex-direction: column;

        .user-post {
            padding-bottom: 8px;
            margin-left: 10px;
            margin-right: 10px;

            // background-color: pink;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;


            .header-user {
                display: flex;
                flex-direction: row;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }

                p {
                    font-size: 14px;
                    font-weight: bold;
                    margin-left: 10px;
                }
            }

            .icons-post {
                i {
                    margin-left: 5px;
                    font-size: 18px;
                    color: grey;
                }
            }
        }

        img {
            width: 100%;
        }

        .like-post {
            padding-top: 8px;
            margin-left: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            a {
                margin-right: 15px;

                i {
                    font-size: 22px;
                    color: grey;
                }
            }

            .likes {
                input[type=submit] {
                    background-color: #3b5998;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    height: 20px;
                    margin-right: 10px;
                }
            }
        }

        .content-post {

            padding-bottom: 10px;
            // margin-left: 10px;
            font-size: 14px;

            input {
                border: none;
                background-color: transparent;
                width: 480px;
            }
        }

        // .comment{
        //     margin-left: 10px;
        //     display: flex;
        //     flex-direction: row;
        //         .comment-title{
        //         font-size: 13px;
        //         font-weight: bold;
        //         }
        // }
        .comment-user {
            margin: 8px 0px 8px 0px;
            margin-left: 10px;
            display: flex;
            flex-direction: row;

            img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
            }

            .container-user-post {
                margin-left: 10px;
                display: flex;
                flex-direction: column;

                .comment-username {
                    font-size: 13px;
                    font-weight: bold;
                }

                .comment-post {
                    font-size: 14px;
                }
            }
        }

        .comment-insert {
            margin: 0px 10px 0px 10px;
            display: flex;
            flex-direction: column;

            form {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                justify-content: stretch;
                align-content: start;
                align-items: flex-end;

                textarea {
                    resize: none;
                    margin-bottom: 5px;
                    border: 1px solid gray;
                    border-radius: 5px;
                    width: 99.5%;
                    height: 50px;
                }

                input[type=submit] {
                    margin-top: 10px;
                    height: 25px;
                    border-radius: 5px;
                    border: none;
                    background-color: #3b5998;
                    color: white;
                }
            }

        }
    }

}
