* {
  font-family: Arial, Helvetica, sans-serif;
}

.body-welcome {
  background-image: url("https://elfinanciero.com.mx/graficos/gif/Face-logo.gif");
  width: 100%;
  background-size: cover;
  background-position: center;
}

.body-login {
  margin: 0;
  height: 100vh;
  max-width: 100%;
}

.body-login .login-container {
  display: flex;
  flex-direction: row;
}

.body-login .login-container .login-left {
  width: 60%;
  background-image: url("https://i.pinimg.com/originals/5b/be/f3/5bbef370086240108e6466a5dff5e2f9.png");
  background-size: cover;
  background-position: center;
  height: 722px;
}

.body-login .login-container .login-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-login .login-container .login-right .logo-register {
  margin-bottom: 28px;
  width: 40%;
  text-align: center;
}

.body-login .login-container .login-right .logo-register img {
  width: 40%;
  border-radius: 50%;
}

.body-login .login-container .login-right .form-register {
  padding: 10px;
  width: 40%;
}

.body-login .login-container .login-right .form-register form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.body-login .login-container .login-right .form-register form input[type=text],
.body-login .login-container .login-right .form-register form input[type=password],
.body-login .login-container .login-right .form-register form input[type=email] {
  height: 28px;
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 5px;
  color: rgba(var(--i1d, 38, 38, 38), 1);
}

.body-login .login-container .login-right .form-register form input[type=password] {
  margin-bottom: 15px;
}

.body-login .login-container .login-right .form-register form input[type=submit] {
  height: 26px;
  margin: 10px 0px 5px 0px;
  width: 102%;
  background-color: #3b5998;
  border: 1px solid #3b5998;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.body-login .login-container .login-right .form-register form a {
  color: #3b5998;
  font-size: 13px;
}

body {
  margin: 0;
}

body header .header {
  padding: 0px 20px 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #3b5998;
}

body header .header .img-header img {
  width: 150px;
}

body header .header .search-header input {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  padding-left: 10px;
  width: 300px;
  border-radius: 50px;
  height: 30px;
}

body header .header .section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

body header .header .section-header img {
  padding: 0px 15px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

body header .header .section-header a {
  text-decoration: none;
  color: white;
}

.comment-wall {
  border-radius: 5px;
  padding: 10px 0px 15px 0px;
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.comment-wall .container-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment-wall .container-text .textarea-wall {
  margin-left: 10px;
  margin-right: 10px;
  width: 560px;
}

.comment-wall .container-text .textarea-wall textarea {
  resize: none;
  margin-bottom: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 99.5%;
  height: 50px;
}

.comment-wall .container-text .img-wall input {
  width: 10px;
  left: 15px;
  position: relative;
  height: 10px;
  top: 5px;
  opacity: 0;
}

.comment-wall .container-text .img-wall i {
  background-color: white;
  font-size: 14px;
  color: grey;
}

.comment-wall .submit-wall {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.comment-wall .submit-wall input[type=submit] {
  background-color: #3b5998;
  color: white;
  border: none;
  border-radius: 5px;
  height: 25px;
}

.body-main {
  background-color: #e9e8e8;
}

.container-home-left {
  width: 40%;
  height: 100px;
}

.container-home-left .container-left {
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100%;
}

.container-home-left .container-left input {
  background-image: url("https://www.freepnglogos.com/uploads/search-png/search-icon-transparent-images-vector-16.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 80%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  background-size: 20px;
}

.container-home-left .container-left .table-friend {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 14px;
}

.container-home-left .container-left .table-friend th,
.container-home-left .container-left .table-friend td {
  text-align: left;
  padding: 10px;
}

.container-home-left .container-left .table-friend tr {
  border-bottom: 1px solid #ddd;
}

.container-home-left .container-left .table-friend tr.header-table,
.container-home-left .container-left .table-friend tr:hover {
  background-color: #f1f1f1;
}

.container-home {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.container-right-profile {
  margin: 150px auto;
}

.container-right {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.container-right,
.container-right-profile {
  width: 70%;
}

.container-right .container-post,
.container-right-profile .container-post {
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px 0px 15px 0px;
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.container-right .container-post .user-post,
.container-right-profile .container-post .user-post {
  padding-bottom: 8px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container-right .container-post .user-post .header-user,
.container-right-profile .container-post .user-post .header-user {
  display: flex;
  flex-direction: row;
}

.container-right .container-post .user-post .header-user img,
.container-right-profile .container-post .user-post .header-user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.container-right .container-post .user-post .header-user p,
.container-right-profile .container-post .user-post .header-user p {
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}

.container-right .container-post .user-post .icons-post i,
.container-right-profile .container-post .user-post .icons-post i {
  margin-left: 5px;
  font-size: 18px;
  color: grey;
}

.container-right .container-post img,
.container-right-profile .container-post img {
  width: 100%;
}

.container-right .container-post .like-post,
.container-right-profile .container-post .like-post {
  padding-top: 8px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-right .container-post .like-post a,
.container-right-profile .container-post .like-post a {
  margin-right: 15px;
}

.container-right .container-post .like-post a i,
.container-right-profile .container-post .like-post a i {
  font-size: 22px;
  color: grey;
}

.container-right .container-post .like-post .likes input[type=submit],
.container-right-profile .container-post .like-post .likes input[type=submit] {
  background-color: #3b5998;
  color: white;
  border: none;
  border-radius: 5px;
  height: 20px;
  margin-right: 10px;
}

.container-right .container-post .content-post,
.container-right-profile .container-post .content-post {
  padding-bottom: 10px;
  font-size: 14px;
}

.container-right .container-post .content-post input,
.container-right-profile .container-post .content-post input {
  border: none;
  background-color: transparent;
  width: 480px;
}

.container-right .container-post .comment-user,
.container-right-profile .container-post .comment-user {
  margin: 8px 0px 8px 0px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

.container-right .container-post .comment-user img,
.container-right-profile .container-post .comment-user img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.container-right .container-post .comment-user .container-user-post,
.container-right-profile .container-post .comment-user .container-user-post {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.container-right .container-post .comment-user .container-user-post .comment-username,
.container-right-profile .container-post .comment-user .container-user-post .comment-username {
  font-size: 13px;
  font-weight: bold;
}

.container-right .container-post .comment-user .container-user-post .comment-post,
.container-right-profile .container-post .comment-user .container-user-post .comment-post {
  font-size: 14px;
}

.container-right .container-post .comment-insert,
.container-right-profile .container-post .comment-insert {
  margin: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
}

.container-right .container-post .comment-insert form,
.container-right-profile .container-post .comment-insert form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-content: start;
  align-items: flex-end;
}

.container-right .container-post .comment-insert form textarea,
.container-right-profile .container-post .comment-insert form textarea {
  resize: none;
  margin-bottom: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 99.5%;
  height: 50px;
}

.container-right .container-post .comment-insert form input[type=submit],
.container-right-profile .container-post .comment-insert form input[type=submit] {
  margin-top: 10px;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: #3b5998;
  color: white;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.container-left-profile {
  width: 40%;
  height: 100px;
}

.container-left-user {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
}

.container-left-user .img-profile {
  margin: 0px 20px 0px 20px;
}

.container-left-user .img-profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.container-left-user .user-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container-left-user .user-profile .user-name {
  font-size: 15px;
  font-weight: bold;
}

.container-left-user .user-profile .user-name i {
  margin-left: 5px;
  font-size: 14px;
  color: gray;
}

.container-left-user .user-profile .bio-profile {
  font-size: 12px;
}

.container-left-user .user-profile .bio-profile input {
  width: 100%;
  border: none;
  background-color: transparent;
}

.container-left-user .user-profile .update-profile-submit input {
  height: 18px;
  border-radius: 5px;
  border: none;
  background-color: #3b5998;
  color: white;
}

.post-container-update {
  display: flex;
  flex-direction: column;
}

.post-container-update .update-post-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 25px;
}

.post-container-update .update-post-buttons i {
  margin-right: 20px;
  color: gray;
}

.post-container-update .update-post-buttons input[type=submit] {
  background-color: #3b5998;
  color: white;
  border: none;
  border-radius: 5px;
  height: 20px;
  margin-right: 10px;
}

.post-container-update .update-post-buttons input[type=file] {
  width: 20px;
  left: 1010px;
  position: absolute;
  height: 20px;
  top: 700px;
  opacity: 0;
}

